.footer-menu p{
	font-family: Segoe UI,Helvetica,Arial,Sans-Serif;
	color: #000000;
}

.footer-menu li{
	color: #000000;
}

.custom-footer{
	color: white;
	background-color: #ffffff;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	width: 100%;
	text-align: center;
	padding: 20px 25px;

}

.list-box{
	padding: 0;
	list-style: none;
}

.site-footer-newsletter{
	background: #C2DDE6;
	padding-top: 20px;
	padding-bottom: 35px;
}

.footer-menu{
	text-align: left;
	padding-top: 20px;
}

.footer-menu p{
	margin: 0;
}

.col-md-6{
	width: 100%;
}

.logo-footer h2{
	margin-bottom: 10px;
	margin-top: 0px;
}

.footer-first-child,.footer-second,.footer-third,.footer-last-child{
	width: 25%;
	float: left;
	padding-left: 10px;
    border-left: 1px solid beige;
}

.footer-first-child{
	border-left: none;
}

.footer-site-socmed{
	margin-top: 10px;
}

.footer-site-bottom{
	text-align: left;
	padding-top: 10px;


}

.site-bottom{
    width: 1170px;
    margin: auto;

}

.site-bottom p{
	margin-left: 15px;	
	border-top:1px solid #eee;
	padding-top: 10px;
}

#cartadded{
	display:none;
}

.footer-menu{
	font-size: 14px;
	margin: 0;
}

p.footer-links{
	font-size:18px;
	font-weight: bold;
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.panel-custom{
	margin-top: 2px;
	padding: 5px;
}

.below-navbar-custom{
	padding-top: 55px;
}

/* the search bar */
.sharp-box {
	border-radius: 0px;
}

.space {
	padding: 25px 25px 25px 25px;
	margin: 0px 30px 0px 30px;
}

.space-item {
	padding: 0px 15px 0px 15px;
	margin: 10px 0px 10px 0px;
	float: left;
	position: relative;
	width: 100%;
}

.awesomplete-space-item {
	padding: 0px 15px 0px 15px;
	margin: 10px 0px 10px 0px;
}

.parent {
	position: relative;
}

.child {
	position: absolute;
}

.set-up {
	top: 15px;
}

.set-right {
	right: 15px;
}

.set-left {
	left: 15px;
}

.set-bottom {
	bottom: 15px;
}

.margin-up-big {
	margin-top: -25px;
}

.margin-up-med {
	margin-top: -15px;
}

.margin-up-sml {
	margin-top: -5px;
}

.margin-down-big {
	margin-top: 25px;
}

.margin-down-med {
	margin-top: 15px;
}

.margin-down-sml {
	margin-top: 5px;
}

.margin-right-big {
	margin-left: 25px;
}

.margin-right-med {
	margin-left: 15pxl
}

.margin-right-sml {
	margin-left: 5px;
}

.margin-left-big {
	margin-right: 100px;
}

.margin-left-med {
	margin-right: 75px;
}

.margin-left-sml {
	margin-right: 5px;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.float-normal {
	float: none;
}

.width-big {
	width: 200px;
}

.width-med {
	width: 100px;
}

.width-sml {
	width: 90px;
}

.height-big {
	height: 50px;
	font-size: 1.2em;
}

.height-med {
	height: 30px;
	font-size: 1em;
}

.height-sml {
	height: 25px;
	font-size: 0.8em;
}

.horizontal {
	display: inline-table;
	vertical-align: middle;
}

.course img {
	height: 200px;
	width: 150px;
}

.course h1 {
	font-size: 1.4em;
}

.course h2 {
	font-size: 1.2em;
}

.course p {
	font-size: 0.9em;
}

.course a {
	text-decoration: none;
	color: blue;
}

.red {
	color: red;
}

.result-text {
	text-align: center;
}
